.site-footer{
    background-color: $color-primary;
    padding: 25px 15px;

    .copyright{
        color: #fff;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 0;
    }

    .menu{
        li{
            margin-bottom: 0;
            a{
                color: #fff;
                font-size: 16px;
            }
        }
    }


    @include media(max-width, 1023px){
        .grid-x{
            display: block;
        }

        .copyright{
            text-align: center;
        }

        .menu{
            justify-content: center;
        }
    }
}