.site-header{
    background: $color-primary;
    padding: 12px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: 0.4s ease all;
    max-height: 80px;

    .site-logo{
        font-size: 34px;
        font-weight: bold;
        color: #fff;
    }

    .menu{
        li{
            margin-bottom: 0;
        }
    }

    &.sticky{
        padding-top: 10px;
        padding-bottom: 10px;
        // box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

        .site-logo{
            font-size: 27px;
        }
    }

    .menu-toggle{
        margin-top: 5px;
        display: inline-block;
        padding-right: 15px;
    }


    .main-menu{
        display: inline-block;
        position: relative;
        
        .menu{
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #fff;
            box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
            text-align: right;
            width: 400px;

            li{
                margin-bottom: 0;

                a{
                    padding: 12px 30px;
                }
            }
        }
        
        &:hover{
            .menu{
                display: block;

                li{
                    &:hover{
                        a{
                            background-color: $color-secondary;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }


    @include media(max-width, 575px){
        .site-logo{
            font-size: 28px;
        }

        .main-menu{
            .menu{
                width: calc(100vw - 40px);
                text-align: center;
            }
        }
    }
}