.sec{
    padding: 130px 15px;

    &.sec-top{
        margin-top: 80px;
    }

    .sec-title{
        font-size: 2.6rem;
        margin-bottom: 40px;
        color: $color-primary;
        text-transform: uppercase;
        position: relative;
        line-height: 1;

        span{
            display: block;
        }

        &:after{
            content: '';
            display: inline-block;
            max-width: 200px;
            width: 100%;
            height: 0;
            border-bottom: 4px solid $color-secondary;
        }
    }



    @include media(max-width, 1023px){
        padding-top: 100px;
        padding-bottom: 100px;

        .sec-title{
            font-size: 2rem;
        }
    }


    @include media(max-width, 768px){
        padding-top: 80px;
        padding-bottom: 80px;
        
        .sec-title{
            font-size: 1.7rem;
        }
    }
    

    @include media(max-width, 575px){
        &.sec-top{
            margin-top: 74px;
        }
    }
}