@import "main";



.sec-banner{
    padding: 0;
    background: #dfdfdf;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .banner-slider{
        position: relative;

        .slide-item{
            min-height: calc(100vh - 80px);
            position: relative;
            z-index: 1;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            figure{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -5;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .slide-content{
            text-align: center;
            margin-bottom: 45px;
            
            .content-box{
                background-color: rgba($color-primary, 0.5);
                color: #fff;
                max-width: 910px;
                width: calc(100% - 160px);
                margin: 0 auto 45px;
                text-align: center;
                padding: 30px 8%;
                
                h1, h2, h3, h4, h5, h6{
                    text-transform: uppercase;
                }

                h1, h2, h3, h4, h5, h6, p{
                    margin-bottom: 0;
                }

                h3{
                    font-size: 2rem;
                }
            }

            .button-cta{
                border-color: #fff;
                color: #fff;

                &:hover{
                    border-color: $color-secondary;
                    background-color: $color-secondary;
                }
            }
        }

        .slick-arrow{
            position: absolute;
            z-index: 5;
            top: 50%;
            transform: translateY(-50%);
            text-indent: -999px;
            overflow: hidden;
            width: 80px;
            height: 80px;
            background-color: transparent;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
            opacity: 0.5;
            transition: 0.3s ease all;

            &:hover{
                opacity: 1;
            }

            &.slick-prev{
                left: 50px;
                background-image: url(../img/arrow-left.svg);
            }

            &.slick-next{
                right: 50px;
                background-image: url(../img/arrow-right.svg);
            }
        }
    }


    @include media(max-width, 1140px){
        .banner-slider{
            .slick-arrow{
                width: 60px;
                height: 60px;

                &.slick-prev{
                    left: 20px;
                }

                &.slick-next{
                    right: 20px;
                }
            }
        }
    }

    @include media(max-width, 1023px){
        .banner-slider{
            .slide-content{
                .content-box{
                    h3{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    @include media(max-width, 768px){
        .banner-slider{
            .slide-content{
                .content-box{
                    h3{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    @include media(max-width, 575px){
        .banner-slider{
            .slide-content{
                .content-box{
                    width: calc(100% - 70px);
                }
            }

            .slick-arrow{
                width: 40px;
                height: 40px;

                &.slick-prev{
                    left: 0px;
                }

                &.slick-next{
                    right: 0px;
                }
            }
        }
    }
}


.sec-about{
    position: relative;
    z-index: 10;
    background: #fff;

    .text-wrap{
        margin-bottom: 45px;
    }
}


.sec-block{
    .text-wrap{
        max-width: 800px;
        margin: 75px auto;
        text-align: center;
    }
}


.sec-lease{
    .text-wrap{
        max-width: 800px;
        margin: 75px auto;
        text-align: center;
    }
}


.sec-flat{
    .text-wrap{
        margin-bottom: 55px;
    }
}


.sec-contact{
    .contact-info{
        margin-top: 20px;

        h4, p{
            margin-bottom: 5px;
        }
    }

    @include media(max-width, 1023px){
        .sec-subtitle, .contact-info{
            text-align: center;
        }
    }
}


.sec-team{
    @include media(max-width, 1023px){
        .sec-subtitle{
            text-align: center;
        }
    }


    @include media(max-width, 768px){
        .sec-subtitle{
            text-align: center;
        }

        .person-block{
            display: block;
            text-align: center;

            .thumb{
                margin-bottom: 15px;
            }
        }
    }
}