.text-image{
    text-align: center;
    margin-top: 30px;

    img{
        margin-bottom: 15px;
    }

    figcaption{
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
}


.title-image{
    figcaption{
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }
}


.person-block{
    margin: 15px 0 55px;

    .text{
        padding: 5px 15px;
    }

    .title{
        margin-bottom: 0;
        color: $color-secondary;
    }
}