body{
    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $color-dark;
}

img{
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    font-family: $heading-font-family;
    margin-bottom: 20px;  
}

a{
    color: $color-primary;
    transition: 0.3s ease all;

    &:hover,
    &:focus{
        color: lighten($color-primary, 20%);
    }
}

p{
    font-family: $paragraph-font-family;
    font-size: $paragraph-font-size;
    font-weight: $paragraph-font-weight;
    line-height: $paragraph-line-height;
    color: $paragraph-color;
    margin-bottom: 20px;  
}

li{
    font-size: $paragraph-font-size;
    margin-bottom: 5px;
}



@include media(max-width, 1023px){
    body{
        font-size: $body-font-size * 0.9;
    }

    p, li{
        font-size: $paragraph-font-size * 0.9;
    }
}


@include media(max-width, 639px){
    body{
        font-size: $body-font-size * 0.8;
    }

    p, li{
        font-size: $paragraph-font-size * 0.8;
    }
}