.button{
    &.button-arrow{
        background-color: transparent !important;
        color: $color-primary !important;
        font-weight: bold;
        padding-right: 45px;
        position: relative;
        overflow: hidden;

        &:after{
            content: '';
            display: block;
            width: 44px;
            height: 44px;
            background: transparent url(../img/chevron-right.svg) no-repeat center;
            background-size: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            right: 0;
            transition: 0.3s ease all;
        }

        &:hover{
            &:after{
                right: -8px;
            }
        }
    }


    
}