$color-primary: #323348;
$color-secondary: #aa2131;
$color-success: #3adb76;
$color-alert: #cc4b37;
$color-warning: #cc8b00;
$color-dark: #333;
$color-light: #f8f8f8;
$color-white: #fff;
$color-grey: #575757;
$color-light-grey: #f6f9fc;
$color-light-blue: #83c8d7;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Source Sans Pro', sans-serif;

$body-font-family: $font-secondary;
$body-font-size: 18px;

$heading-font-family: $font-primary;

$paragraph-font-family: $font-secondary;
$paragraph-font-size: 20px;
$paragraph-line-height: 1.8;
$paragraph-color: $color-dark;
$paragraph-font-weight: 400;

$button-font-family: $font-secondary;


/* FOUNDATION VARIABLES */
$grid-container: 1200px;

$foundation-palette: (
  primary: $color-primary,
  secondary: $color-secondary,
  success: $color-success,
  warning: $color-warning,
  alert: $color-alert,
) !default;

$button-background: $color-primary;
$button-radius: 0px;
$button-sizes: (
    tiny: 0.6rem,
    small: 0.75rem,
    default: 1.7rem,
    large: 2.1rem
);
$button-padding: 10px 25px;
$button-font-weight: 600;
$button-hollow-border-width: 4px;

$input-shadow: none;

$topbar-padding: 0;
$topbar-background: transparent;